* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  width: 80%;

}
.main {
  position: relative;
  top: 4em;
  text-align: center;
}

.wide {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  background-color: black;
  color: green;
}
.form-div {
  margin-top: 5em;
}
.name {
  color: red;
}
.small {
  font-size: 12px
}

.submit_name {
  width: 20em;
  text-align: inherit;
  padding: 1em
}

.senden {color:white; background: black; border: none; padding: 2px;   font-family: 'Roboto Condensed', sans-serif;}
/*.senden:hover {color:black; background: white; border: none; padding: 2px}*/

#blood {
 transition: 2s;
}
a {
  text-decoration: none;
  color: white;
}

footer{
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 3em;
}

footer a {
  display: inline-block;
  margin-right: 2em;
}

footer a:hover {
  color: black;
  background-color: white;
}
