* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  width: 15em;

}
.main {
  position: relative;
  top: 1em;
  text-align: center;
}

.form-div {
  margin-top: 5em;
}

.name {
  color: red;
}
.small {
  font-size: 12px
}

.submit_name {
  width: 20em;
  text-align: inherit;
  padding: 1em
}

a {
  text-decoration: none;
  color: white;
}

footer{

  display: block;
  text-align: center;
  position: fixed;
  bottom: 3em;
}
footer a {
  margin-right: 1em;
}

footer a:hover {
  margin-right: 1em;
  color: black;
  background-color: white;
}
