
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <title>Werewolf Online</title>
</head>
<body class="wide">
  <div>
  {% for el in names %}
    <ul>
        <li>{{ el }}</li>
    </ul>
  {% endfor %}
  </div>

  <div>
  <form action="{{ url_for('reset') }}" method="POST">
    <input type="submit" name="reset_button" value="Reset Log">
  </form>
  </div>

</body>

<footer>
  <div class="footer-main">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('setup') }}">Setup</a>
    <a href="https://github.com/iconicious">Made with <img src="https://image.flaticon.com/icons/svg/148/148838.svg" style="width:12px"> </a>
    {% block script %}{% endblock %}
  </div>
</footer>
