{% extends 'template.html' %}

{% block active_b %}
active
{% endblock %}

{% block body %}
<div class="container-fluid" style="margin-top:30px">
<div class="alert alert-danger">
  Das Setup darf nur einmal pro neuer Runde durchgeführt werden!
</div>

<form class='form-control-lg' action="{{ url_for('setPlayerNumber') }}" method="post">
  <div class="form-group">
    <span>Number of players:</span>
    <input type="number" name='num' placeholder="Enter number">
  </div>
  <div class="form-check">
    <span>Include narrator to random distribution of roles? </span>
    <input type="checkbox" name="cbx" value="1">
  </div>
  <input class="btn btn-dark" type="submit" value="Senden">
</form>

</div>
{% endblock %}
